<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="post">
        <h1>Register Now</h1>
        <input type="text" name="name" id="" placeholder="Name">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="password" name="password" id="" placeholder="Enter Password">
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>